#editor-container{
	position: relative;
	display: block;
	width: auto;
	height: auto;
	margin: 2em auto 0 auto;
	text-align: center;
	#editor-fields{
		display: inline-block;
		text-align: left;
		label{
			display: inline-block;
			font: 1.25em/1 monospace;
			height: auto;
			text-align: left;
			margin-bottom: .5em;
			input{
				width: auto;
				height: 1.25em;
				border: 1px solid black;
				box-sizing: border-box;
				font: 1em/1 monospace;
				padding: .12em;
			}
		}
		button{
			display: inline-block;
			width: auto;
			height: 1.5em;
			border: 1px solid black;
			border-radius: 5px;
			font: 1em/1 monospace;
			padding: .12em 1em;
			background-color: white;
		}
	}
	#palette-container{
		display: inline-block;
		.tool-palette{
			box-sizing: border-box;
			display: none;
			width: 5em;
			text-align: left;
			padding: .25em;
			border: 1px solid black;
			border-radius: 3px;

			&.active, &:first-of-type{
				display: inline-block;
			}
			.tool-button{
				display: inline-block;
				box-sizing: border-box;
				width: 2em;
				height: 2em;
				padding: .5em 0 .5em 0;
				text-align: center;
				border: 1px solid black;
				border-radius: 3px;
				line-height: 1;
				font-size: 1em;
				cursor: pointer;
				&.active{
					cursor: default;
				}
				&:nth-child(odd){
					margin-right: .5em;
				}
				&:hover, &.active{
					background-color: #cccccc;
					text-shadow: 0px -2px 0px white,
								 2px -2px 0px white,
								 2px 0px 0px white,
								 2px 2px 0px white,
								 0px 2px 0px white,
								 -2px 2px 0px white,
								 -2px 0px 0px white;
				}

			}
		}
	}
	#editor-viewport{
		display: inline-block;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
		position: relative;
		box-sizing: border-box;
		padding: 1em;
		border-radius: 5px;
		border: 1px solid black;
		margin: 2em auto 0 auto;
		overflow: hidden;
		canvas{
			display: block;
			position: relative;
		}
	}
	#editor-tools{
		height: auto;
		position: relative;
		display: inline-block;
		width: auto;
		box-sizing: border-box;
		padding: .75em;
		border: 1px solid black;
		border-radius: 3px;
		padding: .5em 1em .5em 1em;

		#tool-bar{
			display: inline-block;
			position: relative;
			height: auto;
			text-align: center;
			width: auto;
			box-sizing: border-box;
			margin: 0;
			padding: 0em 0em 0em 1em;
			.tool{
				box-sizing: border-box;
				border: 1px solid black;
				border-radius: 3px;
				padding: .5em;
				display: inline-block;
				position: relative;
				margin: 0 1em 0 0;
				cursor: pointer;
				&:last-of-type{
					margin-right: 0 !important;
				}
				&.active{
					cursor: default;
				}
				&.active, &:hover{
					background-color: #cccccc;
					text-shadow: 0px -2px 0px white,
								 2px -2px 0px white,
								 2px 0px 0px white,
								 2px 2px 0px white,
								 0px 2px 0px white,
								 -2px 2px 0px white,
								 -2px 0px 0px white;
				}
			}
		}
	}
	
}
.hidden{
		display: none !important;
}
.container{
	display: block;
	margin: 0;
	padding: 0;
	clear: both;
}