#editor-container{
	position: relative;
	display: block;
	width: auto;
	height: auto;
	margin: 2em auto 0 auto;
	text-align: center;
	#editor-settings{
		display: inline-block;
		text-align: left;
		width: 250px;
		fieldset{
			border: none;
			label{
				display: inline-block;
				font: 1.25em/1 monospace;
				height: auto;
				text-align: left;
				margin-bottom: .5em;
				input{
					display: block;
					width: auto;
					height: 1.25em;
					border: 1px solid black;
					box-sizing: border-box;
					font: 1em/1 monospace;
					padding: .12em;
				}
			}
		}
		button{
			display: inline-block;
			width: auto;
			height: 1.5em;
			border: 1px solid black;
			border-radius: 5px;
			font: 1em/1 monospace;
			padding: .12em 1em;
			background-color: white;
		}
	}
	#editor-tools{
		font: 1em/1 monospace;
		height: auto;
		position: relative;
		display: block;
		width: 100%;
		box-sizing: border-box;
		padding: .75em;
		border: 1px solid black;
		border-radius: 3px;
		padding: .5em 1em .5em 1em;

		#tool-bar{
			display: block;
			position: relative;
			height: auto;
			text-align: center;
			width: 100%;
			box-sizing: border-box;
			margin: 0;
			padding: 0;
			.tool-box{
				padding: 0 0 1em 0;
				margin: 1em 0;
				border: 1px solid black;
				border-radius: 5px;
				list-style: none;
				display: block;
				.tool-box-label{
					margin-top: 5%;
					margin-bottom: 2.5%;
					display: block;
					width: 100%;
					text-align: center;
				}
				.tool{
					&:before{
						content: '';
						position: relative;
						display: block;
						top: 0;
						left: 0;
						padding-bottom: 100%;
					}
					box-sizing: border-box;
					border: 1px solid black;
					border-radius: 3px;
					padding: .5em;
					display: inline-block;
					position: relative;
					margin-top: 2%;
					cursor: pointer;
					width: 18%;
					height: auto;
					margin-right: 2%;
					&:first-of-type{
						margin-left: 2%;
					}
					&:nth-of-type(5){
						margin-right: 0 !important;
					}
					&.active{
						cursor: default;
					}
					&.active, &:hover{
						background-color: #cccccc;
						text-shadow: 0px -2px 0px white,
									 2px -2px 0px white,
									 2px 0px 0px white,
									 2px 2px 0px white,
									 0px 2px 0px white,
									 -2px 2px 0px white,
									 -2px 0px 0px white;
					}
				}
			
			}
		}
	}
	#palette-container{
		display: inline-block;
		.tool-palette{
			box-sizing: border-box;
			display: none;
			width: 5em;
			text-align: left;
			padding: .25em;
			border: 1px solid black;
			border-radius: 3px;

			&.active, &:first-of-type{
				display: inline-block;
			}
			.tool-button{
				display: inline-block;
				box-sizing: border-box;
				width: 2em;
				height: 2em;
				padding: .5em 0 .5em 0;
				text-align: center;
				border: 1px solid black;
				border-radius: 3px;
				line-height: 1;
				font-size: 1em;
				cursor: pointer;
				&.active{
					cursor: default;
				}
				&:nth-child(odd){
					margin-right: .5em;
				}
				&:hover, &.active{
					background-color: #cccccc;
					text-shadow: 0px -2px 0px white,
								 2px -2px 0px white,
								 2px 0px 0px white,
								 2px 2px 0px white,
								 0px 2px 0px white,
								 -2px 2px 0px white,
								 -2px 0px 0px white;
				}

			}
		}
	}
	#editor-viewport{
		display: inline-block;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
		position: relative;
		box-sizing: border-box;
		padding: 1em;
		border-radius: 5px;
		border: 1px solid black;
		margin: 2em auto 0 auto;
		overflow: hidden;
		canvas{
			display: block;
			position: relative;
			image-rendering: -webkit-optimize-contrast;
			image-rendering: -moz-crisp-edges;
		}
	}
	
}
.hidden{
		display: none !important;
}
.container{
	float: left;
	display: inline-block;
	width: auto;
	height: auto;
}